.quote{
    font-family: $font-fam-pri;
    font-style: normal;
    font-weight: normal;
    font-size: $font-small;
    line-height: 77.8%;
    /* or 31px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: $color-dark;

    @include respond(tab-land) {
        font-size: $font-smaller;
      }
}

.sub-heading {
    font-family: $font-fam-pri;
    font-style: normal;
    font-weight: normal;
    font-size: $font-small;
    line-height: 77.8%;
    /* or 47px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;

color: $color-dark;



@include respond(big-screen) {
    font-size: $font-meduim;
  }
}