//colors
$color-primary-light: #F7FAFF;
$color-primary-dark : #428EDF;
$color-primary-darker : #0057B7;
$color-nav : #F5F5F5;
$color-dark : #000000;
$color-white : #ffffffff;

//font family 
$font-fam-pri: 'Oleo Script Swash Caps',
cursive;
$font-fam-sec: 'Lato',
sans-serif;

//font-size
//big
$font-big : 7.2rem;
$font-big-phone : $font-big * 1.5;

//meduim
$font-meduim : 6rem;
$font-meduim-phone : $font-meduim * 1.5;

//small
$font-small : 4rem;
$font-small-phone : $font-small * 1.5;

//smaller
$font-smaller : 2.5rem;
$font-smaller-phone : $font-smaller * 1.5;

//smallest
$font-smallest : 2rem;
$font-smallest-phone : $font-smallest * 2;

$full-width : 82%;