.primary-navigation{
    position: relative;
    width: 61%;
    height: 54vh;
    left: 2.5rem;
    top: 3.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
        width: 36.6%;
        height: 79%;
      }

    @include respond(big-screen) {
        width: 53%;
        height: 43vh;
      }

    &__logo{
        margin-bottom: 6rem;
        width: 100%;
        height: 10vh;


        @include respond(big-screen) {
            width: 12.8rem;
          }
    }

    &__img {
        width: 100%;
    } 

    &__links {
        display: flex;
        flex-direction: row;
        transform: rotate(-90deg);
        margin-top: 13rem;
        margin-left: -2rem;

        @include respond(big-screen) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            transform: rotate(0deg);
            margin-top: 0rem;
            margin-left: 0rem;
          }
    }

    &__items {
        margin-left: 2.6rem;
        list-style: none;
    }
}