.primary-nav{
  position: absolute;
  width: 9.1%;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: $color-nav;
  box-shadow: 5px 0px 11px rgba(0, 0, 0, 0.3);

 transition: all .5s ease-in-out;

  @include respond(tab-land) {
      width: 12.7%;
      height: 100%;
    }

  @include respond(big-screen) {
      width: 13.2%;
    }
}

.primary-navigation{
    position: relative;
    width: 61%;
    height: 65vh;
    left: 2.5rem;
    top: 3.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
        width: 36.6%;
        height: 79%;
      }

    @include respond(big-screen) {
        width: 53%;
        height: 43vh;
      }

    &__logo{
        margin-bottom: 6rem;
        width: 88%;
        height: 10vh;


        @include respond(big-screen) {
            width: 12.8rem;
          }
          display: flex;
          flex-direction: row;
    }

    &__img {
        width: 100%;
    } 
    
    &__heading {
      visibility: hidden;
    }

    &__links {
        display: flex;
        flex-direction: row;
        transform: rotate(-90deg);
        margin-top: 13rem;
        margin-left: -2rem;

        @include respond(big-screen) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            transform: rotate(0deg);
            margin-top: 0rem;
            margin-left: 0rem;
          }
    }

    &__items {
        margin-left: 2.6rem;
        list-style: none;
    }
}

.primary-nav:hover {
  width: 11%;
}

.primary-nav:hover .primary-navigation {
  left: 2rem;

  &__logo{
    width: 60%;
    margin-right: 2.1rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    transform: rotate(0deg);
    margin-top: 0rem;
    margin-left: 0rem;
  }
}