/*Form*/

.form {
    display: flex;
    flex-direction: row;

    @include respond(big-screen) {
        justify-content: space-between;
      }
    &__input {
        font-size: $font-small;
        width: 100%;
        height: 100%;
        background-color: #8299A9;
        border: 2.5px solid $color-dark;
        border-radius: 1.2rem;

        
        &:focus {
            outline: none;
        }
    }

    &__text-enter {
        position: relative;
        height: 100%;
        width: 66%;

        @include respond(big-screen) {
            width: 58.3%;
            height: 100%;
          }
    }

    &__btn {
        position: absolute;
        margin-left: -6.4rem;
        height: 100%;
        background-color: transparent;
        border: none;
        @include respond(big-screen) {
            width: 14.5%;
            height: 100%;
            margin-left: -7.2rem;
          }

        &:focus {
            outline: none;
        }
    }

    &__label {
        margin-left: 1rem;
        width: 24.4rem;
        height: 8rem;
        left: 78.6rem;
        top: 75.2rem;

        font-family: $font-fam-sec;
        font-style: normal;
        font-weight: normal;
        font-size: $font-small;
        line-height: 4.8rem;
        display: flex;
        align-items: center;

        color: $color-dark ;

        @include respond (tab-land) {
            width: 38%;
            height: 100%;
            font-size: $font-smaller;
            
        }

        @include respond(big-screen) {
            width:  40%;
            height: 100%;
            font-size: $font-meduim;
          }
    }
}
