.todays-content{
    position: absolute;
    width: 34.4%;
    height: 100vh;
    left: 0px;
    top: 0px;

    padding-left: 8.5rem;
    padding-right: 8.5rem;
    padding-bottom: 3.9rem;
    padding-top: 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url("./img/rainy.png");
    background-size: cover;
    background-repeat: no-repeat;

    &__logo {
        width: 65.5%;
        height: 10.4%;
    }

    &__card-primary {
        background-color: rgba(0, 0, 0, 0.7);
        width: 72.5%;
        height: 65.6%;
    }
}

.more-content{
    position: absolute;
    width: 44.5%;
    height: 65.9%;
    left: 56.7rem;
    top: 13.7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__form {
        align-self: center;
        width: 85.2%;
        height: 23.7%;
    }

    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 65%;
    }

    &__card-sec {
        background-color: rgba(0, 0, 0, 0.7);
        width: 37.5%;
        height: 100%;
    }
}