//layout
//F5F5F5
.primary-nav{
    position: absolute;
    width: 9.1%;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: $color-nav;
    box-shadow: 5px 0px 11px rgba(0, 0, 0, 0.3);

    @include respond(tab-land) {
        width: 12.7%;
        height: 100%;
      }

    @include respond(big-screen) {
        width: 13.2%;
      }
}

.content {
    position: absolute;
    width: 70%;
    height: 77vh;
    left: 203px;
    top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tab-land) {
        width: 69.3%;
        height: 79%;
        left: 18.9rem;
        top: 5.6rem;
    }

    @include respond(big-screen) {
        width: 60.7%;
        height: 83.3%;
        left: 62rem;
        top: 0px;
      }

    &__imgHeader {
        width: 70%;
        height: 51vh;

        @include respond(tab-land) {
            width: 75%;
            height: 65%;
          }

        @include respond(big-screen) {
            width: 77%;
            height: 68%;
          }
    }

    &__sub-heading{
        
        margin-left: 62rem;

        @include respond(tab-land) {
            margin-left: 52rem;
        }

        @include respond(big-screen) {
            margin-left: 125rem;
          }
    }

    &__form {
        width: 82%;

        @include respond (tab-land) {
            width: 68%;
            height: 10.5%;
        }

        @include respond(big-screen) {
            width: 68%;
            height: 9%;
          }
    }
}

.body-content-index {
    background-image: url("./img/cloud.png");
   background-position-x: 100%;
   background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}


/*call to action*/

.btn-cta {
    position: absolute;
    width: 10%;
    height: 19vh;
    left: 118.6rem;
    top: 0px;
    background: #43AFEA ;
    clip-path: polygon(2% 0, 100% 0, 100% 100%, 50% 70%, 0 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
        width: 10.6%;
        height: 20.3%;
        left: 89.9rem;
        top: 0px;
    }

    @include respond(big-screen) {
        width: 9%;
        height: 23%;
        left: 217.4rem;
        top: 0px;
    }
}

.link-pri , .link-ghost {
    &:link,
    &:active{
        font-family: $font-fam-pri;
        font-style: normal;
        font-weight: normal;
        font-size: $font-smallest;
        line-height: 77.8%;
        text-decoration: none;
        /* or 31px */

        text-align: center;
        letter-spacing: 0.1em;


        @include respond(big-screen) {
            font-size: $font-meduim;
          }
    }
}

.link-pri {
    color: black;
}

.link-ghost {
    color: white;
}